{{define "content" }}

    <form action="{{call .ToURL "tramite.post"}}">

    <div class="field">
        <label for="nombre"></label>
        <div class="control">
            <input id="nombre" type="text" name="nombre">
        </div>
    </div>

    </form>


{{end}}
